{% extends 'company/base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load widget_tweaks %}
{% load jalali_tags %}
{% block title %}
ایجاد مشتری جدید
{% endblock %}


{% block main %}
<div class="col-md-12">
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title mb-0 float-left">اضافه کردن هدف جدید</h3>
    </div>
      <div class="card-body">
        <form method="post" enctype="multipart/form-data"> {% csrf_token %}
          <div class="row">
            <div class="col-3">
              {{ form.title|as_crispy_field }}
            </div>
            <div class="col-3">
              {{ form.target_subject|as_crispy_field }}
            </div>
            <div class="col-3">
              {{ form.target|as_crispy_field }}
            </div>
            <div class="col-3">
               {{form.start_date|as_crispy_field}}
            </div>
            <div class="col-3">
              {{ form.end_date|as_crispy_field }}
            </div>
            <div class="col-3">
              {{ form.staff|as_crispy_field}}
            </div>
            <div class="col-12">
              {{ form.is_active|as_crispy_field}}
            </div>
          </div>
              <button class="btn btn-success">ذخیره</button>
            </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}