{% extends 'company/company-settings-base.html' %}

{% block title %}داشبورد اصلی{% endblock %}


{% block main %}
        <div class="row">
          <div class="col-12">
            <div class="card">

              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <div class="card-header d-flex justify-content-between align-items-center pb-1">
                  <a class="btn btn-info" href="{% url 'targets:targetsubjects-create' company.slug  %}">ایجاد موضوع هدف جدید</a>
                  <div class="col-md-3 col-12 text-md-right">
                    <a type="button" class="btn  btn-success glow mt-md-2 mb-1" href="{% url 'targets:companytargets' company.slug %}"><i class="bx bx-reply"></i> بازگشت به اهداف</a>
                        </div>
                </div>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>نام موضوع</th>
                      <th>عملیات</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for subject in object_list %}
                      <tr>
                        <td><a href="{% url 'targets:targetsubjects-update' company.slug subject.pk %}">{{subject.subject_title}}</a></td>
                        <td>
                            <a class="badge badge-warning" href="{% url 'targets:targetsubjects-update' company.slug subject.pk %}">ویرایش</a>
                            <a class="badge badge-danger" href="{% url 'targets:targetsubjects-delete' company.slug subject.pk %}">حذف</a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
{% endblock %}
