{% extends 'company/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
ایجاد مشتری جدید
{% endblock %}


{% block main %}
    <!-- BEGIN: Content-->
        <div class="content-body"><!-- app invoice View Page -->
<section class="invoice-edit-wrapper">
  <div class="row">
    <form method="post" enctype="multipart/form-data"> {% csrf_token %}

    <!-- invoice view page -->
    <div class="col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body pb-0 mx-25">
            <!-- header section -->
            <div class="row mx-0">
              <div class="col-xl-4 col-md-12 d-flex align-items-center pl-0">
                {{form.invoice_number|as_crispy_field}}
              </div>
              <div class="col-xl-8 col-md-12 px-0 pt-xl-0 pt-1">
                <div class="invoice-date-picker d-flex align-items-center justify-content-xl-end flex-wrap">
                  <div class="d-flex align-items-center">
                    <fieldset class="d-flex ">
                      {{form.date|as_crispy_field}}
                    </fieldset>
                  </div>
                  <div class="d-flex align-items-center">
                    <fieldset class="d-flex justify-content-end">
                      {{form.expire_date|as_crispy_field}}
                    </fieldset>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <!-- logo and title -->
            <div class="row">
              <div class="card-header">
                <h3 class="card-title mb-0 float-left">اطلاعات فاکتور</h3>
              </div>
                <div class="card-body">
                    <div class="row">
                      <div class="col-3">
                        {{ form.title|as_crispy_field }}
                      </div>
                      <div class="col-3">
                        {{ form.status|as_crispy_field }}
                      </div>
                      <div class="col-3">
                        {{ form.account|as_crispy_field }}
                      </div>
                      <div class="col-3">
                         {{form.deal|as_crispy_field}}
                      </div>
                      <div class="col-3">
                        {{ form.bargain|as_crispy_field}}
                      </div>
                      <div class="col-3">
                        {{ form.tax|as_crispy_field}}
                      </div>
                    </div>
                        <button class="btn btn-success">ذخیره اطلاعات و وارد کردن آیتم‌های فاکتور</button>
                      </form>
</section>

        </div>

    <!-- END: Content-->

{% endblock %}