{% extends 'company/base.html' %}

{% block title %}داشبورد اصلی{% endblock %}


{% block main %}
        <div class="row">
          <div class="col-12">
            <div class="card">

              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>عنوان فاکتور</th>
                      <th>نوع فاکتور</th>
                      <th>مبلغ</th>
                      <th>شماره فاکتور</th>
                      <th> نام مشتری </th>
                      <th>عملیات</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for invoice in object_list %}
                      <tr>
                        <td><a href="{% url 'invoice:invoice-update' company.slug invoice.pk %}">{{invoice.title}}</a></td>
                        <td>{{invoice.status}}</td>
                        <td>{{invoice.total_amount}}</td>
                        <td>{{invoice.invoice_number}}</td>
                        <td>{{invoice.account}}</td>
                        <td>
                            
                            <a class="badge" href="{% url 'invoice:invoice-update' company.slug invoice.pk %}">ویرایش</a>
                            <a class="badge" href="{% url 'invoice:invoice-delete' company.slug invoice.pk %}">حذف</a>
                          
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
{% endblock %}
