{% extends 'company/base.html' %}

{% block title %}داشبورد اصلی{% endblock %}


{% block main %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'common:home' %}"><i class="bx bx-home"></i></a></li>
    <li class="breadcrumb-item"><a href="{% url 'common:dashboard' company.slug %}">{{company.name}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">فاکتورها</li>
  </ol>
</nav>
<div class="row">
  <div class="col-12">
    <div class="card">
      <br>
      <div class="col-3">
        <a class="btn btn-info" href="{% url 'invoice:invoice-create' company.slug  %}">ایجاد فاکتور جدید</a>
      </div>
      <br>
    </div>
  </div>
</div>
        <div class="row">
          <div class="col-12">
            <div class="card">

              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>عنوان فاکتور</th>
                      <th>نوع فاکتور</th>
                      <th>شماره فاکتور</th>
                      <th>تاریخ تنظیم</th>
                      <th>تاریخ اعتبار</th>
                      <th>عملیات</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for invoice in object_list %}
                      <tr>
                        <td><a href="{% url 'invoice:invoice-detail' company.slug invoice.pk %}">{{invoice.title}}</a></td>
                        <td>{{invoice.status}}</td>
                        <td>{{invoice.invoice_number}}</td>
                        <td>{{invoice.date}}</td>
                        <td>{{invoice.expire_date}}</td>
                        <td>
                            
                            <a class="badge badge-warning" href="{% url 'invoice:invoice-update' company.slug invoice.pk %}">ویرایش</a>
                            <a class="badge badge-danger" href="{% url 'invoice:invoice-delete' company.slug invoice.pk %}">حذف</a>
                          
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>

{% endblock %}
