{% extends 'company/company-settings-base.html' %}

{% block title %}داشبورد اصلی{% endblock %}


{% block main %}
        <div class="row">
          <div class="col-12">
            <div class="card">

              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <div class="card-header d-flex justify-content-between align-items-center pb-1">
                  <a class="btn btn-info" href="{% url 'leads:leadstatus-create' company.slug  %}">ایجاد مرحله سرنخ جدید</a>
                  <div class="col-md-3 col-12 text-md-right">
                    <a class="btn btn-icon btn-outline-warning mt-md-2 mb-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="تنظیمات منابع سرنخ‌ها" href="{% url 'leads:leadsource' company.slug %}"><i class="bx bx-cog"></i></a>
                    <a type="button" class="btn  btn-success glow mt-md-2 mb-1" href="{% url 'leads:leads' company.slug %}"><i class="bx bx-reply"></i> بازگشت به سرنخ‌ها</a>
                        </div>
                </div>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>عنوان</th>
                      <th>ترتیب در فرایند</th>
                      <th>عملیات</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for leadstatus in object_list %}
                      <tr>
                        <td><a href="{% url 'leads:leadstatus-update' company.slug leadstatus.pk %}">{{leadstatus.LeadStatus_title}}</a></td>
                        <td>{{leadstatus.LeadStatus_number}}</td>
                        <td>
                            <a class="badge badge-warning" href="{% url 'leads:leadstatus-update' company.slug leadstatus.pk %}">ویرایش</a>
                            <a class="badge badge-danger" href="{% url 'leads:leadstatus-delete' company.slug leadstatus.pk %}">حذف</a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
{% endblock %}
