{% extends 'company/base.html' %}

{% block title %}داشبورد اصلی{% endblock %}


{% block main %}
        <div class="row">
          <div class="col-12">
            <div class="card">

              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>نام مشتری</th>
                      <th>موبایل</th>
                      <th>ایمیل</th>
                      <th>محول شده به</th>
                      <th>عملیات</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for accounts in object_list %}
                      <tr>
                        <td><a href="#">{{accounts.first_name}} {{accounts.last_name}}</a></td>
                        <td>{{accounts.phone}}</td>
                        <td>{{accounts.email}}</td>
                        <td>{{accounts.assigned_to.get_full_name}}</td>
                        <td>
                            {% if user.is_superuser %}
                            <a class="badge" href="{% url 'accounts:accounts-update' company.slug accounts.pk %}">ویرایش</a>
                            <a class="badge" href="{% url 'accounts:accounts-delete' company.slug accounts.pk %}">حذف</a>
                            {% endif %}
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
{% endblock %}
