{% load static %}

<!-- BEGIN: Main Menu-->
    <div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="navbar-header">
          <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto"><a class="navbar-brand" href="{% url 'common:home' %}">
                <div class="brand-logo"><img class="logo" src="{% static 'frest/assets/images/logo/png-150-selikan.png' %}"></div>
                <h2 class="brand-text mb-0">سلیکان</h2></a></li>
            <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="bx bx-x d-block d-xl-none font-medium-4 primary"></i><i class="toggle-icon bx bx-disc font-medium-4 d-none d-xl-block primary" data-ticon="bx-disc"></i></a></li>
          </ul>
        </div>
        <div class="shadow-bottom"></div>
        <div class="main-menu-content">
          <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
            <li class=" nav-item"><a href="{% url 'targets:targetsubjectlist' company.slug %}"><i class="menu-livicon" data-icon="gear"></i><span class="menu-title" data-i18n="Dashboard">تنظیمات اهداف</span></a>

            </li>
          </ul>
          <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
            <li class=" nav-item"><a href="{% url 'deals:pipelines' company.slug %}"><i class="menu-livicon" data-icon="gear"></i><span class="menu-title" data-i18n="Dashboard">تنظیمات معاملات</span></a>

            </li>
          </ul>
          <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
            <li class=" nav-item"><a href="#"><i class="menu-livicon" data-icon="gear"></i><span class="menu-title" data-i18n="Dashboard">تنظیمات سرنخ‌ها</span></a>
              <ul class="menu-content">
                <li><a href="{% url 'leads:leadstatus' company.slug %}"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce"> مراحل سرنخ</span></a>
                </li>
                <li><a href="{% url 'leads:leadsource' company.slug %}"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">منابع سرنخ‌ها</span></a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
            <li class=" nav-item"><a href="#"><i class="menu-livicon" data-icon="gear"></i><span class="menu-title" data-i18n="Dashboard">تنظیمات فرصت‌ها</span></a>
              <ul class="menu-content">
                <li><a href="{% url 'opportunity:opportunitystatus' company.slug %}"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">لیست مراحل فرصت‌ها</span></a>
                </li>
                <li><a href="{% url 'opportunity:opportunitysource' company.slug %}"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">منابع فرصت‌ها</span></a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
            <li class=" nav-item"><a href="{% url 'common:products' company.slug %}"><i class="menu-livicon" data-icon="gear"></i><span class="menu-title" data-i18n="Dashboard">تنظیمات محصولات</span></a>
            </li>
          </ul>
          <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
            <li class=" nav-item"><a href="#"><i class="menu-livicon" data-icon="gear"></i><span class="menu-title" data-i18n="Dashboard">تنظیمات عمومی</span></a>
              <ul class="menu-content">
                <li><a href="{% url 'common:company-update' company.slug %}"><i class="bx bx-left-arrow-alt" data-icon="user"></i><span class="menu-item" data-i18n="Analytics">ویرایش اطلاعات شرکت</span></a>
                </li>
                <li><a href="{% url 'common:countries' company.slug %}"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">کشور‌های مرتبط</span></a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
            <li class=" nav-item"><a href="{% url 'payment:billing-list' company.slug %}"><i class="menu-livicon" data-icon="us-dollar"></i><span class="menu-title" data-i18n="Dashboard">سوابق پرداخت</span></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- END: Main Menu-->
