{% extends 'company/base.html' %}
{% load static %}
{% block title %}داشبورد اصلی{% endblock %}
{% load humanize %}
{% load jalali_tags %}
{% block main %}

    <!-- BEGIN: Content-->
<section id="dashboard-ecommerce">
  <div class="row">
<!-- Widgets Advance start -->
    <!-- Notification Widget Starts -->
    <div class="col-lg-4">
      <div class="card widget-notification">
        <div class="card-header border-bottom">
          <h4 class="card-title d-flex align-items-center">
            <i class="bx bx-bell font-medium-4 mr-1"></i>جلسات و تماس‌های امروز</h4>
          <div class="heading-elements">
            </div>
        </div>
        <div class="card-content">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush">
              {% for meeting in meeting %}
              <li class="list-group-item list-group-item-action border-0 d-flex align-items-center justify-content-between">
                <div class="list-left d-flex align-items-center">
                  <div class="list-icon mr-1">
                    <div class="avatar bg-rgba-primary m-0 p-25">
                      <div class="avatar-content">
                        {% if meeting.subject == "تماس" %}
                        <i class="bx bx-phone-call text-primary font-medium-5"></i>
                        {% else %}
                        <i class="bx bxs-group text-info font-medium-5"></i>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  <div class="list-content mt-n25">
                    <span class="list-title"><a href="{% url 'task:task-update' company.slug meeting.pk %}">{{meeting.title}}</a>
                    </span>
                    <small class="text-muted d-block">{{meeting.due_date|to_jalali}}</small>
                  </div>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Notification Widget Ends -->
    <!-- Task App Widget Starts -->
    <div class="col-lg-8">
      <div class="row">
        <div class="col-12">
          <div class="card widget-todo">
            <div class="card-header border-bottom d-flex justify-content-between align-items-center">
              <h4 class="card-title d-flex mr-1 align-items-center">
                <i class="bx bx-check font-medium-5 pl-25 pr-75"></i>وظایف و کارهای امروز
              </h4>
              <div class="heading-elements">
                <a type="button" class="btn btn-sm btn-info glow" href="{% url 'task:task' company.slug %}">همه وظایف </a>
              </div>
            </div>
            <div class="card-body px-0 py-1">
              {% for task in todaytasks %}
              <ul class="widget-todo-list-wrapper" id="widget-todo-list">
                <li class="widget-todo-item">
                  <div class="widget-todo-title-wrapper d-flex justify-content-between align-items-center mb-50">
                    <div class="widget-todo-title-area d-flex align-items-center">
                      <div class="avatar m-0 mr-50">
                        <img src="{{task.assigned_to.thumbnail}}" alt="img placeholder" height="32" width="32">
                      </div>
                      <a href="{% url 'task:task-update' company.slug task.pk %}">{{task.title}}</a>
                    </div>
                    <div class="widget-todo-item-action d-flex align-items-center">
                      <div class="badge badge-pill badge-light-success mr-1"> موضوع: {{task.subject}}</div>
                      <div class="badge badge-pill badge-light-danger mr-1"> وضعیت: {{task.status}}</div>
                      <div class="badge badge-pill badge-light-info mr-1"> اولویت: {{task.priority}}</div>

                    </div>
                  </div>
                </li>
                {% endfor %}





              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Task App Widget Ends -->
<!-- Widgets Advance End -->


    <!-- Marketing Campaigns Starts -->
    <div class="col-xl-8 col-12 dashboard-marketing-campaign">
      <div class="card marketing-campaigns">
        <div class="card-header d-flex justify-content-between align-items-center pb-1">
          <h4 class="card-title">لیست معاملات در جریان</h4>
        </div>
        <div class="card-content">
          <div class="card-body pb-0">
            <div class="row">
              <div class="col-md-9 col-12">
                <div class="d-inline-block">
                  <!-- chart-1   -->
                  <div class="d-flex market-statistics-1">
                    <!-- chart-statistics-1 -->
                    <div id="donut-success-chart"></div>
                    <!-- data -->
                    <div class="statistics-data my-auto">
                      <div class="statistics">
                        {% if total %}
                        <span class="font-medium-2 mr-50 text-bold-600">{{day7_total|intcomma:False}} تومان </span>
                        {% else %}
                        <span>صفر</span>
                        {% endif %}                      </div>
                      <div class="statistics-date">
                        <i class="bx bx-radio-circle font-small-1 text-success mr-25 align-middle"></i>
                        <small class="text-muted">میزان فروش ۷ روز گذشته</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-inline-block">
                  <!-- chart-2 -->
                  <div class="d-flex mb-75 market-statistics-2">
                    <!-- chart statistics-2 -->
                    <div id="donut-danger-chart"></div>
                    <!-- data-2 -->
                    <div class="statistics-data my-auto">
                      <div class="statistics">
                        {% if total %}
                        <span class="font-medium-2 mr-50 text-bold-600">{{total|intcomma:False}} تومان </span>
                        {% else %}
                        <span>صفر</span>
                        {% endif %}
                      </div>
                      <div class="statistics-date">
                        <i class="bx bx-radio-circle font-small-1 text-success mr-25 align-middle"></i>
                        <small class="text-muted">میزان فروش ماه گذشته</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-12 text-md-right">
          <a type="button" class="btn btn-sm btn-success glow mt-md-2 mb-1" href="{% url 'deals:deals' company.slug %}">همه معاملات</a>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- table start -->
          <table id="table-marketing-campaigns" class="table table-borderless table-marketing-campaigns mb-0">
            <thead>
              <tr>
                <th>عنوان معامله</th>
                <th>مرحله فروش</th>
                <th>مبلغ معامله</th>
                <th>نام مشتری</th>
              </tr>
            </thead>
            <tbody>
            {% for deals in deals_show%}
              <tr>
                <td class="py-1 line-ellipsis">
                  <a href="{% url 'deals:deal-update' company.slug deals.pk %}">{{deals.title}}</a>
                </td>
                <td class="py-1">
                  <i class="bx bx-trending-up text-success align-middle mr-50"></i><span>{{deals.pipeline_status}}</span>
                </td>
                <td class="py-1">{{deals.deal_amount|intcomma:False}} تومان</td>
                <td class="text-secondary py-1">{{deals.account}}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          <!-- table ends -->
        </div>
      </div>
    </div>
    <!-- Radial Followers Primary Chart Starts -->
    <div class="col-xl-4 col-md-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body p-0">
            <div class="d-lg-flex justify-content-between">
              <div class="widget-card-details d-flex flex-column justify-content-between p-2">
                <div>
                  <h5 class="font-medium-2 font-weight-normal">معاملات</h5>
                  <p class="text-muted">تحقق تارگت معاملات فروش در این ماه</p>
                </div>
                <a href="#">جزئیات</a>
              </div>
              <div class="mb-1 mb-sm-0" id="radial-chart-primary"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Radial Followers Primary Chart Ends -->

    


    <!-- Marketing Campaigns Starts -->
    <div class="col-xl-8 col-12 dashboard-marketing-campaign">
      <div class="card marketing-campaigns">
        <div class="card-header d-flex justify-content-between align-items-center pb-1">
          <h4 class="card-title">لیست فرصت‌های در جریان</h4>
          <a type="button" class="btn btn-sm btn-info glow" href="{% url 'opportunity:opportunity' company.slug %}">همه فرصت‌ها </a>
        </div>

        <div class="table-responsive">
          <!-- table start -->
          <table id="table-marketing-campaigns" class="table table-borderless table-marketing-campaigns mb-0">
            <thead>
              <tr>
                <th>عنوان فرصت</th>
                <th>مرحله فرصت</th>
                <th>مبلغ فرصت</th>
                <th>نام مشتری</th>
              </tr>
            </thead>
            <tbody>
            {% for opportunity in opportunity_show %}
              <tr>
                <td class="py-1 line-ellipsis">
                  <a href="{% url 'opportunity:opportunity-update' company.slug opportunity.pk %}">{{opportunity.name}}</a>
                </td>
                <td class="py-1">
                  <i class="bx bx-trending-up text-success align-middle mr-50"></i><span>{{opportunity.status}}</span>
                </td>
                <td class="py-1">{{opportunity.amount|intcomma:False}} تومان</td>
                <td class="text-secondary py-1">{{opportunity.account}}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          <!-- table ends -->
        </div>
      </div>
    </div>
    <!-- Radial Users Success Chart Starts -->
    <div class="col-xl-4 col-md-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body p-0">
            <div class="d-lg-flex justify-content-between">
              <div class="widget-card-details d-flex flex-column justify-content-between p-2">
                <div>
                  <h5 class="font-medium-2 font-weight-normal">فرصت‌ها</h5>
                  <p class="text-muted">تحقق تارگت فرصت‌ها در این ماه</p>
                </div>
                <a href="#">جزئیات</a>
              </div>
              <div class="mb-1 mb-sm-0" id="radial-chart-success"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Radial Users Success Chart Ends -->


    <!-- Marketing Campaigns Starts -->
    <div class="col-xl-8 col-12 dashboard-marketing-campaign">
      <div class="card marketing-campaigns">
        <div class="card-header d-flex justify-content-between align-items-center pb-1">
          <h4 class="card-title">لیست سرنخ‌های در جریان</h4>
          <a type="button" class="btn btn-sm btn-warning glow" href="{% url 'deals:deals' company.slug %}">همه سرنخ‌ها</a>
        </div>

        <div class="table-responsive">
          <!-- table start -->
          <table id="table-marketing-campaigns" class="table table-borderless table-marketing-campaigns mb-0">
            <thead>
              <tr>
                <th>عنوان سرنخ</th>
                <th>مرحله سرنخ</th>
                <th>منبع سرنخ</th>
              </tr>
            </thead>
            <tbody>
            {% for leads in leads_show %}
              <tr>
                <td class="py-1 line-ellipsis">
                  <a href="{% url 'leads:lead-update' company.slug leads.pk %}">{{leads.title}}</a>
                </td>
                <td class="py-1">
                  <i class="bx bx-trending-up text-success align-middle mr-50"></i><span>{{leads.status}}</span>
                </td>
                <td class="py-1">{{leads.source}}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          <!-- table ends -->
        </div>
      </div>
    </div>
    <!-- Radial Registrations Danger Chart Starts -->
    <div class="col-xl-4 col-md-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body p-0">
            <div class="d-lg-flex justify-content-between">
              <div class="widget-card-details d-flex flex-column justify-content-between p-2">
                <div>
                  <h5 class="font-medium-2 font-weight-normal">سرنخ‌ها</h5>
                  <p class="text-muted">تحقق تارگت سرنخ‌ها در این ماه</p>
                </div>
                <a href="#">جزئیات</a>
              </div>
              <div class="mb-1 mb-sm-0" id="radial-chart-danger"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Radial Registrations Danger Chart Ends -->


</section>
<!-- Dashboard Ecommerce ends -->

        </div>
      </div>
    </div>

    <!-- END: Content-->

{% endblock %}

{% block page_vendor_js %}
    <!-- BEGIN: Page Vendor JS-->
    <script src="{% static 'frest/assets/vendors/js/extensions/dragula.min.js' %}"></script>
    <!-- END: Page Vendor JS-->
    <!-- BEGIN: Page JS-->
    <script src="{% static 'frest/assets/js/scripts/cards/widgets.js' %}"></script>
    <!-- END: Page JS-->
{% endblock %}