{% extends 'company/base.html' %}

{% block title %}داشبورد اصلی{% endblock %}


{% block main %}
        <div class="row">
          <div class="col-12">
            <div class="card">

              <!-- /.card-header -->
                            <!-- /.card-header -->
                            <div class="card-body table-responsive p-0">
                              <table class="table table-hover">
                                
                                <thead>
                                    <tr>
                                      {% for pipeline in object_list %}
                                    <th>{{pipeline.pipeline_title}}</th>
                                    {% endfor %}
                                    </tr>
                                </thead>
                                <tbody><td>
                                    
                                    {% for deal in deals %}
                                    
                                    {{deals.title}}
                                    
                                    {% endfor %}
                                    </td>
                                  
                                </tbody>
                                
                              </table>
                            </div>
                            <!-- /.card-body -->

            </div>
            <!-- /.card -->
          </div>
        </div>
{% endblock %}
