{% extends 'company/base.html' %}

{% block title %}داشبورد اصلی{% endblock %}


{% block main %}
        <div class="row">
          <div class="col-12">
            <div class="card">

              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>عنوان</th>
                      <th>ترتیب در فرایند</th>
                      <th>عملیات</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for pipelines in object_list %}
                      <tr>
                        <td><a href="{% url 'deals:pipeline-update' company.slug pipelines.pk %}">{{pipelines.pipeline.title}}</a></td>
                        <td>{{pipelines.pipeline_number}}</td>
                        <td>
                            <a class="badge" href="{% url 'deals:pipeline-update' company.slug pipelines.pk %}">ویرایش</a>
                            <a class="badge" href="{% url 'deals:pipeline-delete' company.slug pipelines.pk %}">حذف</a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
{% endblock %}
