{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <img src="{% static 'registration/adminlte/dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light">پنل مدیریتی</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="{% static 'registration/adminlte/dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">{{user.get_full_name}}</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item has-treeview menu-open">
          <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              تیم‌ها
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'teams:teams'%}" class="nav-link active">
                <i class="fas fa-list nav-icon"></i>
                <p>لیست تیم‌ها</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'teams:team-create'%}" class="nav-link active">
                <i class="far fa-edit nav-icon"></i>
                <p>ایجاد تیم جدید</p>
              </a>
            </li>
          </ul>  
        </li>    
        <li class="nav-item has-treeview menu-open">    
          <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              اشخاص و شرکت‌ها
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'contacts:contacts'%}" class="nav-link active">
                <i class="fas fa-list nav-icon"></i>
                <p>لیست اشخاص</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'contacts:contact-create'%}" class="nav-link active">
                <i class="far fa-edit nav-icon"></i>
                <p>ایجاد شخص جدید</p>
              </a>
            </li>            
            <li class="nav-item">
              <a href="{% url 'accounts:accounts'%}" class="nav-link active">
                <i class="far fa-edit nav-icon"></i>
                <p>لیست شرکت‌ها</p>
              </a>
            </li>  
            <li class="nav-item">
              <a href="{% url 'accounts:account-create'%}" class="nav-link active">
                <i class="far fa-edit nav-icon"></i>
                <p>ایجاد شرکت جدید</p>
              </a>
            </li>  
          </ul>
        </li>
        <li class="nav-item has-treeview menu-open">
          <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              سرنخ‌ها
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'leads:leads'%}" class="nav-link active">
                <i class="fas fa-list nav-icon"></i>
                <p>لیست سرنخ‌ها</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'leads:lead-create'%}" class="nav-link active">
                <i class="far fa-edit nav-icon"></i>
                <p>ایجاد سرنخ جدید</p>
              </a>
            </li>
          </ul>  
        </li> 
        
        <li class="nav-item has-treeview menu-open">
          <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              فرصت‌ها
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'opportunity:opportunity'%}" class="nav-link active">
                <i class="fas fa-list nav-icon"></i>
                <p>لیست فرصت‌ها</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'opportunity:opportunity-create'%}" class="nav-link active">
                <i class="far fa-edit nav-icon"></i>
                <p>ایجاد فرصت جدید</p>
              </a>
            </li>
          </ul>  
        </li>    

        <li class="nav-item has-treeview menu-open">
          <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              وظایف و کارها
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'task:task'%}" class="nav-link active">
                <i class="fas fa-list nav-icon"></i>
                <p>لیست وظایف و کارها</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'task:task-create'%}" class="nav-link active">
                <i class="far fa-edit nav-icon"></i>
                <p>ایجاد وظیفه و کار جدید</p>
              </a>
            </li>
          </ul>  
        </li>    
        
        <li class="nav-item">
          <a href="pages/widgets.html" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              پروفایل
              <span class="right badge badge-danger">جدید</span>
            </p>
          </a>
        </li>

      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
