{% load static %}

<!-- BEGIN: Main Menu-->
    <div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="navbar-header">
          <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto"><a class="navbar-brand" href="{% url 'common:home' %}">
                <div class="brand-logo"><img class="logo" src="{% static 'frest/assets/images/logo/png-150-selikan.png' %}"></div>
                <h2 class="brand-text mb-0">سلیکان</h2></a></li>
            <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="bx bx-x d-block d-xl-none font-medium-4 primary"></i><i class="toggle-icon bx bx-disc font-medium-4 d-none d-xl-block primary" data-ticon="bx-disc"></i></a></li>
          </ul>
        </div>
        <div class="shadow-bottom"></div>
        <div class="main-menu-content">
          <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
            <li class=" nav-item"><a href="{% url 'common:dashboard' company.slug %}"><i class="menu-livicon" data-icon="dashboard"></i><span class="menu-title" data-i18n="Dashboard">داشبورد</span></a>
            </li>
          </ul>
          <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
            <li class=" nav-item"><a href="#"><i class="menu-livicon" data-icon="idea"></i><span class="menu-title" data-i18n="Dashboard">دپارتمان فروش</span></a>
              <ul class="menu-content">
                <li><a href="{% url 'deals:deals' company.slug %}"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">معاملات</span></a>
                </li>
                <li><a href="{% url 'opportunity:opportunity' company.slug %}"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i></i><span class="menu-item" data-i18n="eCommerce">فرصت‌ها</span></a>
                </li>
                <li><a href="{% url 'accounts:accounts' company.slug %}"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i></i><span class="menu-item" data-i18n="eCommerce">مشتریان</span></a>
                </li>

              </ul>
            </li>
          </ul>
          <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
            <li class=" nav-item"><a href="#"><i class="menu-livicon" data-icon="trophy"></i><span class="menu-title" data-i18n="Dashboard">دپارتمان بازاریابی</span></a>
              <ul class="menu-content">
                <li><a href="#"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">برنامه بازاریابی</span></a>
                </li>
                <li><a href="{% url 'leads:leads' company.slug %}"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i></i><span class="menu-item" data-i18n="eCommerce">سرنخ‌ها</span></a>
                </li>
                <li><a href="#"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">کمپین‌های تبلیغاتی</span></a>
                </li>
              </ul>
            </li>
          </ul>

          <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
            <li class=" nav-item"><a href="#"><i class="menu-livicon" data-icon="trophy"></i><span class="menu-title" data-i18n="Dashboard">دپارتمان مالی</span></a>
              <ul class="menu-content">
                <li><a href="#"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">حسابداری</span></a>
                </li>
                <li><a href="#"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">حقوق و دستمزد</span></a>
                </li>
                <li><a href="#"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">فاکتور و پیش‌فاکتور</span></a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
            <li class=" nav-item"><a href="#"><i class="menu-livicon" data-icon="trophy"></i><span class="menu-title" data-i18n="Dashboard">دپارتمان تولید</span></a>
              <ul class="menu-content">
                <li><a href="#"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">مدیریت تولید</span></a>
                </li>
                <li><a href="#"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">مدیریت انبار</span></a>
                </li>
                <li><a href="#"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">مدیریت خط تولید</span></a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
            <li class=" nav-item"><a href="#"><i class="menu-livicon" data-icon="trophy"></i><span class="menu-title" data-i18n="Dashboard">دپارتمان منابع انسانی</span></a>
              <ul class="menu-content">
                <li><a href="#"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">چارت سازمانی</span></a>
                </li>
                <li><a href="#"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">استخدام</span></a>
                </li>
                <li><a href="#"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">حضور و غیاب و مرخصی</span></a>
                </li>
                <li><a href="#"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">برنامه‌های منابع انسانی</span></a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
            <li class=" nav-item"><a href="#"><i class="menu-livicon" data-icon="trophy"></i><span class="menu-title" data-i18n="Dashboard">دپارتمان اداری مدیریتی</span></a>
              <ul class="menu-content">
                <li><a href="#"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">هدف‌گذاری</span></a>
                </li>
                <li><a href="#"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">گزارش‌ها</span></a>
                </li>
                <li><a href="#"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">اتوماسیون</span></a>
                </li>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
            <li class=" nav-item"><a href="#"><i class="menu-livicon" data-icon="trophy"></i><span class="menu-title" data-i18n="Dashboard">دپارتمان حقوقی</span></a>
              <ul class="menu-content">
                <li><a href="#"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">امور قراردادها</span></a>
                </li>
                <li><a href="#"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">پرونده‌های حقوقی</span></a>
                </li>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
            <li class=" nav-item"><a href="#"><i class="menu-livicon" data-icon="trophy"></i><span class="menu-title" data-i18n="Dashboard">مدیریت پروژه و عملیات</span></a>
              <ul class="menu-content">
                <li><a href="#"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">عملیات اجرایی</span></a>
                </li>
                <li><a href="{% url 'project:project' company.slug %}"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">مدیریت پروژه</span></a>
                </li>
                <li><a href="{% url 'task:task' company.slug %}"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">مدیریت وظایف</span></a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
            <li class=" nav-item"><a href="#"><i class="menu-livicon" data-icon="trophy"></i><span class="menu-title" data-i18n="Dashboard">پایگاه دانش</span></a>
              <ul class="menu-content">
                <li><a href="#"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">رویه‌ها و قوانین سازمان</span></a>
                </li>
                <li><a href="#"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">آموزش پلت‌فرم</span></a>
                </li>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
            <li class=" nav-item"><a href="#"><i class="menu-livicon" data-icon="trophy"></i><span class="menu-title" data-i18n="Dashboard">صندوق پیام</span></a>
              <ul class="menu-content">
                <li><a href="#"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">پیام‌های سازمانی</span></a>
                </li>
                <li><a href="#"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">پیام‌های شخصی</span></a>
                </li>
                </li>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
            <li class=" nav-item"><a href="#"><i class="menu-livicon" data-icon="trophy"></i><span class="menu-title" data-i18n="Dashboard">پروفایل سازمانی</span></a>
              <ul class="menu-content">
                <li><a href="#"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">مرخصی</span></a>
                </li>
                <li><a href="#"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">حقوق و دستمزد</span></a>
                </li>
                </li>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
            <li class=" nav-item"><a href="#"><i class="menu-livicon" data-icon="trophy"></i><span class="menu-title" data-i18n="Dashboard">هدف‌گذاری</span></a>
              <ul class="menu-content">
                <li><a href="{% url 'targets:companytargets' company.slug %}"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">لیست اهداف شرکت</span></a>
                </li>
                <li><a href="{% url 'targets:stafftargets' company.slug %}"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">لیست اهداف کارمندان</span></a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
            <li class=" nav-item"><a href="#"><i class="menu-livicon" data-icon="notebook"></i><span class="menu-title" data-i18n="Dashboard">گزارش‌ها</span></a>
              <ul class="menu-content">
                <li><a href="{% url 'reports:companyreports' company.slug %}"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">گزارش‌های شرکت</span></a>
                </li>

                <li><a href="{% url 'reports:dealreports' company.slug %}"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">گزارش‌های معاملات</span></a>
                </li>

                <li><a href="{% url 'reports:leadreports' company.slug %}"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">گزارش‌های سرنخ‌ها</span></a>
                </li>

                <li><a href="{% url 'reports:opportunityreports' company.slug %}"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">گزارش‌های فرصت‌ها</span></a>
                </li>

                <li><a href="{% url 'reports:taskreports' company.slug %}"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">گزارش‌های وظایف</span></a>
                </li>

                <li><a href="{% url 'reports:staffreports' company.slug %}"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">گزارش‌های کارمندان</span></a>
                </li>


              </ul>
            </li>
          </ul>
          <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
            <li class=" nav-item"><a href="{% url 'common:company-update' company.slug %}"><i class="menu-livicon" data-icon="gears"></i><span class="menu-title" data-i18n="Dashboard">تنظیمات پلت‌فرم</span></a>
          </ul>
        </div>
      </div>
      <!-- END: Main Menu-->
