{% load static %}

<!-- BEGIN: Main Menu-->
    <div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="navbar-header">
          <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto"><a class="navbar-brand" href="{% url 'common:home' %}">
                <div class="brand-logo"><img class="logo" src="{% static 'frest/assets/images/logo/logo.png' %}"></div>
                <h2 class="brand-text mb-0">سلیکان</h2></a></li>
            <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="bx bx-x d-block d-xl-none font-medium-4 primary"></i><i class="toggle-icon bx bx-disc font-medium-4 d-none d-xl-block primary" data-ticon="bx-disc"></i></a></li>
          </ul>
        </div>
        <div class="shadow-bottom"></div>
        <div class="main-menu-content">
          <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
            <li class=" nav-item"><a href="{% url 'common:dashboard' company.slug %}"><i class="menu-livicon" data-icon="dashboard"></i><span class="menu-title" data-i18n="Dashboard">داشبورد</span></a>
            </li>
          </ul>
          <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
            <li class=" nav-item"><a href="#"><i class="menu-livicon" data-icon="us-dollar"></i><span class="menu-title" data-i18n="Dashboard">معاملات</span></a>
              <ul class="menu-content">
                <li><a href="{% url 'deals:deals' company.slug %}"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">لیست معاملات</span></a>
                </li>
                <li><a href="{% url 'deals:deal-create' company.slug %}"><i class="bx bx-left-arrow-alt" data-icon="user"></i><span class="menu-item" data-i18n="Analytics">ایجاد معامله جدید</span></a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
            <li class=" nav-item"><a href="#"><i class="menu-livicon" data-icon="building"></i><span class="menu-title" data-i18n="Dashboard">مشتریان</span></a>
              <ul class="menu-content">
                <li><a href="{% url 'accounts:accounts' company.slug %}"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">لیست مشتریان</span></a>
                </li>
                <li><a href="{% url 'accounts:account-create' company.slug %}"><i class="bx bx-left-arrow-alt" data-icon="user"></i><span class="menu-item" data-i18n="Analytics">ایجاد مشتری جدید</span></a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
            <li class=" nav-item"><a href="#"><i class="menu-livicon" data-icon="search"></i><span class="menu-title" data-i18n="Dashboard">سرنخ‌ها</span></a>
              <ul class="menu-content">
                <li><a href="{% url 'leads:leads' company.slug %}"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">لیست سرنخ‌ها</span></a>
                </li>
                <li><a href="{% url 'leads:lead-create' company.slug %}"><i class="bx bx-left-arrow-alt" data-icon="user"></i><span class="menu-item" data-i18n="Analytics">ایجاد سرنخ جدید</span></a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
            <li class=" nav-item"><a href="#"><i class="menu-livicon" data-icon="priority-high"></i><span class="menu-title" data-i18n="Dashboard">وظایف و کارها</span></a>
              <ul class="menu-content">
                <li><a href="{% url 'task:task' company.slug %}"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">لیست وظایف</span></a>
                </li>
                <li><a href="{% url 'task:task-create' company.slug %}"><i class="bx bx-left-arrow-alt" data-icon="user"></i><span class="menu-item" data-i18n="Analytics">ایجاد وظیفه جدید</span></a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
            <li class=" nav-item"><a href="#"><i class="menu-livicon" data-icon="idea"></i><span class="menu-title" data-i18n="Dashboard">فرصت‌ها</span></a>
              <ul class="menu-content">
                <li><a href="{% url 'opportunity:opportunity' company.slug %}"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">لیست فرصت‌ها</span></a>
                </li>
                <li><a href="{% url 'opportunity:opportunity-create' company.slug %}"><i class="bx bx-left-arrow-alt" data-icon="user"></i><span class="menu-item" data-i18n="Analytics">ایجاد فرصت جدید</span></a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
            <li class=" nav-item"><a href="#"><i class="menu-livicon" data-icon="users"></i><span class="menu-title" data-i18n="Dashboard">اشخاص</span></a>
              <ul class="menu-content">
                <li><a href="{% url 'contacts:contacts' company.slug %}"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">لیست اشخاص</span></a>
                </li>
                <li><a href="{% url 'contacts:contact-create' company.slug %}"><i class="bx bx-left-arrow-alt" data-icon="user"></i><span class="menu-item" data-i18n="Analytics">ایجاد شخص جدید</span></a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
            <li class=" nav-item"><a href="#"><i class="menu-livicon" data-icon="headphones"></i><span class="menu-title" data-i18n="Dashboard">تیم‌ها</span></a>
              <ul class="menu-content">
                <li><a href="{% url 'teams:teams' company.slug %}"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">لیست‌ تیم‌ها</span></a>
                </li>
                <li><a href="{% url 'teams:team-create' company.slug %}"><i class="bx bx-left-arrow-alt" data-icon="user"></i><span class="menu-item" data-i18n="Analytics">ایجاد تیم جدید</span></a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
            <li class=" nav-item"><a href="#"><i class="menu-livicon" data-icon="print-doc"></i><span class="menu-title" data-i18n="Dashboard">فاکتورها</span></a>
              <ul class="menu-content">
                <li><a href="{% url 'invoice:invoices' company.slug %}"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">لیست‌ فاکتورها</span></a>
                </li>
                <li><a href="{% url 'invoice:invoice-create' company.slug %}"><i class="bx bx-left-arrow-alt" data-icon="user"></i><span class="menu-item" data-i18n="Analytics">ایجاد فاکتور جدید</span></a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
            <li class=" nav-item"><a href="#"><i class="menu-livicon" data-icon="box"></i><span class="menu-title" data-i18n="Dashboard">فایل‌ها</span></a>
              <ul class="menu-content">
                <li><a href="{% url 'doc:docs' company.slug %}"><i class="bx bx-left-arrow-alt" data-icon="check-alt"></i><span class="menu-item" data-i18n="eCommerce">لیست‌ فایل‌ها</span></a>
                </li>
                <li><a href="{% url 'doc:doc-create' company.slug %}"><i class="bx bx-left-arrow-alt" data-icon="user"></i><span class="menu-item" data-i18n="Analytics">ایجاد فایل جدید</span></a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
            <li class=" nav-item"><a href="{% url 'common:company-update' company.slug %}"><i class="menu-livicon" data-icon="gears"></i><span class="menu-title" data-i18n="Dashboard">تنظیمات CRM</span></a>
          </ul>
        </div>
      </div>
      <!-- END: Main Menu-->
