{% extends 'company/base.html' %}

{% block title %}داشبورد اصلی{% endblock %}


{% block main %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'common:home' %}"><i class="bx bx-home"></i></a></li>
    <li class="breadcrumb-item"><a href="{% url 'common:dashboard' company.slug %}">{{company.name}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">مشتریان</li>
  </ol>
</nav>
        <div class="row">
          <div class="col-12">
            <div class="card">

              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover id="userDatatable">
                  <thead>
                    <tr>
                      <th>نام مشتری</th>
                      <th>موبایل</th>
                      <th>ایمیل</th>
                      <th>صنعت</th>
                      <th>عملیات</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for accounts in object_list %}
                      <tr>
                        <td><a href="{% url 'accounts:accounts-update' company.slug accounts.pk %}">{{accounts.name}}</a></td>
                        <td>{{accounts.phone}}</td>
                        <td>{{accounts.email}}</td>
                        <td>{{accounts.industry}}</td>
                        <td>
                            {% if user.is_superuser %}
                            <a class="badge" href="{% url 'accounts:accounts-update' company.slug accounts.pk %}">ویرایش</a>
                            <a class="badge" href="{% url 'accounts:accounts-delete' company.slug accounts.pk %}">حذف</a>
                            {% endif %}
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>


{% endblock %}
