{% extends 'company/base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load widget_tweaks %}
{% load jalali_tags %}
{% block title %}
ایجاد مشتری جدید
{% endblock %}


{% block main %}
<div class="col-md-12">
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title mb-0 float-left">افزودن و ویرایش مشتریان</h3>
    </div>
      <div class="card-body">
        <form method="post" enctype="multipart/form-data"> {% csrf_token %}
          <div class="row">
            <div class="col-3">
              {{ form.name|as_crispy_field }}
            </div>
            <div class="col-3">
              {{ form.national_id|as_crispy_field }}
            </div>
            <div class="col-3">
              {{ form.economic_id|as_crispy_field }}
            </div>
            <div class="col-3">
               {{form.email|as_crispy_field}}
            </div>
            <div class="col-3">
              {{ form.phone|as_crispy_field }}
            </div>
            <div class="col-3">
              {{ form.whatsapp_phone|as_crispy_field }}
            </div>
            <div class="col-3">
              {{ form.office_phone|as_crispy_field}}
            </div>
            <div class="col-3">
              {{ form.fax|as_crispy_field}}
            </div>
            <div class="col-3">
              {{ form.industry|as_crispy_field}}
            </div>
            <div class="col-6">
              {{ form.billing_address_line|as_crispy_field}}
            </div>
            <div class="col-6">
              {{ form.billing_street|as_crispy_field}}
            </div>
            <div class="col-3">
              {{ form.billing_city|as_crispy_field}}
            </div>
            <div class="col-3">
              {{ form.billing_state|as_crispy_field}}
            </div>
            <div class="col-3">
              {{ form.billing_postcode|as_crispy_field}}
            </div>
            <div class="col-3">
              {{ form.billing_country|as_crispy_field}}
            </div>
            <div class="col-3">
              {{ form.website|as_crispy_field}}
            </div>

            <div class="col-3">
              {{ form.tags|as_crispy_field}}
            </div>
            <div class="col-12">
              {{ form.description|as_crispy_field }}
            </div>

          <div class="col-12">
            <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title mb-0 float-left">فایل‌های مرتبط با مشتری</h3>
                 </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover table-light">
                  <thead>
                    <tr>
                      <th>عنوان</th>
                      <th>توضیحات</th>
                      <th>عملیات</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for doc in docs %}
                      <tr>
                        <td><a href="{% url 'doc:doc-update' company.slug doc.pk %}">{{doc.title}}</a></td>
                        <td>{{doc.description}}</td>
                        <td>
                            <a class="badge badge-info" href="{% url 'doc:doc-update' company.slug doc.pk %}">ویرایش</a>
                            <a class="badge badge-danger" href="{% url 'doc:doc-delete' company.slug doc.pk %}">حذف</a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            <!-- /.card -->
          </div>
          </div>

          <div class="col-12">
            <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title mb-0 float-left">فاکتورهای مرتبط با مشتری</h3>
                 </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover table-light">
                  <thead>
                    <tr>
                      <th>عنوان</th>
                      <th>شماره فاکتور</th>
                      <th>نوع فاکتور</th>
                      <th>عملیات</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for invoice in invoices %}
                      <tr>
                        <td><a href="{% url 'invoice:invoice-detail' company.slug invoice.pk %}">{{invoice.title}}</a></td>
                        <td>{{invoice.invoice_number}}</td>
                        <td>{{invoice.status}}</td>
                        <td>
                            <a class="badge badge-info" href="{% url 'invoice:invoice-update' company.slug invoice.pk %}">ویرایش</a>
                            <a class="badge badge-danger" href="{% url 'invoice:invoice-delete' company.slug invoice.pk %}">حذف</a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            <!-- /.card -->
          </div>
          </div>

          <div class="col-12">
            {{ form.is_active|as_crispy_field}}
          </div>
            <div class="col-12">
              {{ form.archive|as_crispy_field }}
            </div>

          </div>
              <button class="btn btn-success">ذخیره</button>
            </form>
      </div>
      

    </div>
  </div>
</div>
{% endblock %}