{% extends 'company/base.html' %}

{% block title %}داشبورد اصلی{% endblock %}

{% load humanize %}

{% block main %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'common:home' %}"><i class="bx bx-home"></i></a></li>
    <li class="breadcrumb-item"><a href="{% url 'common:dashboard' company.slug %}">{{company.name}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">معاملات</li>
  </ol>
</nav>
        <div class="row">
          <div class="col-12">
            <div class="card">

              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>عنوان معامله</th>
                      <th>مرحله فروش</th>
                      <th>مبلغ</th>
                      <th>محول شده به</th>
                      <th> نام مشتری </th>
                      <th>عملیات</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for deal in object_list %}
                      <tr>
                        <td><a href="{% url 'deals:deal-update' company.slug deal.pk %}">{{deal.title}}</a></td>
                        {% if deal.pipeline_status.won %}
                        <td><a class="badge badge-success" style="color:white">{{deal.pipeline_status}}</a></td>
                        {% elif deal.pipeline_status.lost %}
                        <td><a class="badge badge-danger" style="color:white">{{deal.pipeline_status}}</a></td>
                        {% else %}
                        <td><a class="badge badge-primary" style="color:white" >{{deal.pipeline_status}}</a></td>
                        {% endif %}
                        <td>{{ deal.deal_amount|intcomma:False }} تومان </td>
                        <td>{{deal.assigned_to.get_full_name}}</td>
                        <td>{{deal.account}}</td>
                        <td>
                            
                            <a class="badge badge-light-info" href="{% url 'deals:deal-update' company.slug deal.pk %}">ویرایش</a>
                            <a class="badge badge-light-danger" href="{% url 'deals:deal-delete' company.slug deal.pk %}">حذف</a>
                          
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
{% endblock %}
