{% extends 'company/company-settings-base.html' %}

{% block title %}داشبورد اصلی{% endblock %}


{% block main %}
        <div class="row">
          <div class="col-12">
            <div class="card">

              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <div class="card-header d-flex justify-content-between align-items-center pb-1">
                  <a class="btn btn-info" href="{% url 'deals:pipeline-create' company.slug  %}">ایجاد مرحله فروش جدید</a>
                  <div class="col-md-3 col-12 text-md-right">
                    <a type="button" class="btn  btn-success glow mt-md-2 mb-1" href="{% url 'deals:deals' company.slug %}"><i class="bx bx-reply"></i> بازگشت به معاملات</a>
                        </div>
                </div>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>عنوان</th>
                      <th>ترتیب در فرایند</th>
                      <th>عملیات</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for pipelines in object_list %}
                      <tr>
                        <td><a href="{% url 'deals:pipeline-update' company.slug pipelines.pk %}">{{pipelines.pipeline_title}}</a></td>
                        <td>{{pipelines.pipeline_number}}</td>
                        <td>
                            <a class="btn btn-warning btn-sm" href="{% url 'deals:pipeline-update' company.slug pipelines.pk %}">ویرایش</a>
                            <a class="btn btn-danger btn-sm" href="{% url 'deals:pipeline-delete' company.slug pipelines.pk %}">حذف</a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
{% endblock %}
