{% extends 'company/base.html' %}

{% block title %}داشبورد اصلی{% endblock %}


{% block main %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'common:home' %}"><i class="bx bx-home"></i></a></li>
    <li class="breadcrumb-item"><a href="{% url 'common:dashboard' company.slug %}">{{company.name}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">تیم‌ها</li>
  </ol>
</nav>
        <div class="row">
          <div class="col-12">
            <div class="card">

              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <div class="card-header d-flex justify-content-between align-items-center pb-1">
                  <a class="btn btn-info" href="{% url 'teams:team-create' company.slug  %}">ایجاد تیم جدید</a>
                </div>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>نام تیم</th>
                      <th>تعداد اعضا</th>
                      <th>تاریخ ایجاد </th>
                      <th>ایجاد کننده </th>
                      <th>توضیحات</th>
                      <th>عملیات</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for TeamsList in object_list %}
                      <tr>
                        <td>{{TeamsList.name}}</a></td>
                        <td>{{TeamsList.users.count}}</td>
                        <td>{{TeamsList.jcreated_on}}</td>
                        <td>{{TeamsList.created_by.get_full_name}}</td>
                        <td>{{TeamsList.description}}</td>
                        <td>
                            {% if user.is_superuser %}
                            <a class="badge" href="{% url 'teams:team-update' company.slug TeamsList.pk %}">ویرایش</a>
                            <a class="badge" href="{% url 'teams:team-delete' company.slug TeamsList.pk %}">حذف</a>

                            {% endif %}
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
{% endblock %}
