{% extends 'statichome/base.html' %}
{% load static %}
{% block main %}

        <!-- Start Main Slider Area -->
        <div class="home-sliders owl-carousel owl-theme">
            <div class="home-item item-bg1">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="slider-content">
                                <b>نرم افزار مدیریت فروش و ارتباط با مشتری سلیکان</b>
                                <h1>تا ۳۰۰ ٪ فروش بیشتر!</h1>
                                <p>سلیکان با برنامه و مدیریت فرایند‌های فروش و بازاریابی شرکت شما نرخ تبدیل مشتریان بالقوه به خریداران نهایی را افزایش می‌دهد.</p>
                                <div class="slider-btn">
                                    <a href="{% url 'register'%}" class="default-btn">
                                        تست رایگان سلیکان
                                        <i class='bx bx-left-arrow-alt'></i>
                                        <span></span>
                                    </a>

                                    <a href="https://www.youtube.com/watch?v=CWYeggMHA1U" class="video-btn popup-youtube">
                                        <i class='bx bx-play'></i>
                                        چگونه کار می کند
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="shape">
                    <img src="{% static 'statichome/assets/img/slider/shape.png' %}" alt="image">
                </div>
            </div>

            <div class="home-item item-bg2">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="slider-content">
                                <b>مدیریت سیستم سلیکان</b>
                                <h1>مدیریت مشتری موفق</h1>
                                <div class="slider-btn">
                                    <a href="{% url 'register'%}" class="default-btn">
                                        ۱۵ روز تست رایگان
                                        <i class='bx bx-left-arrow-alt'></i>
                                        <span></span>
                                    </a>

                                    <a href="https://www.youtube.com/watch?v=CWYeggMHA1U" class="video-btn popup-youtube">
                                        <i class='bx bx-play'></i>
                                        چگونه کار می کند
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="shape">
                    <img src="{% static 'statichome/assets/img/slider/shape.png' %}" alt="image">
                </div>
            </div>
        </div>
        <!-- End Main Slider Area -->

        <!-- Start About Area -->
        <section class="about-area pt-100">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6 pr-0">
                        <div class="about-image">
                            <img src="{% static 'statichome/assets/img/about/about1.jpg' %}" alt="image">
                            <img src="{% static 'statichome/assets/img/about/about2.jpg' %}" alt="image">

                            <div class="shape">
                                <img src="{% static 'statichome/assets/img/about/shape2.png' %}" alt="shape">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="about-content">
                            <span>درباره سلیکان</span>
                            <h2>افزایش فروش با سلیکان</h2>
                            <p>نرم افزار مدیریت فروش و ارتباط با مشتریان سلیکان فرایند فروش و بازاریابی شرکت شما را نظم می‌بخشد و سرعت فروشتان را چند برابر می‌کند.</p>

                            <div class="about-text">
                                <div class="icon">
                                    <img src="{% static 'statichome/assets/img/icons/goal.png' %}" alt="image">
                                </div>
                                <h3>ماموریت ما</h3>
                                <p>ماموریت ما کمک به کسب‌وکارها و شرکت‌ها برای بهبود فرایند‌های فروش و بازاریابی‌شان است.</p>
                            </div>

                            <div class="about-text">
                                <div class="icon">
                                    <img src="{% static 'statichome/assets/img/icons/history.png' %}" alt="image">
                                </div>
                                <h3>داستان ما</h3>
                                <p>استارتاپ سلیکان فعالیت خود را در سال ۹۹ با هدف آماده‌سازی نیازهای کسب‌وکارها برای مدیریت بهتر فرایند‌ها شروع کرده است.</p>
                            </div>

                            <div class="signature">
                                <img src="{% static 'statichome/assets/img/signature.png' %}" alt="image">
                                <h3>امین قاسمی</h3>
                                <p>مدیرعامل سلیکان</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="about-shape">
                <img src="{% static 'statichome/assets/img/about/shape1.png' %}" alt="image">
            </div>
        </section>
        <!-- End About Area -->

        <!-- Start Features Area -->
        <section class="features-area pb-100">
            <div class="container">
                <div class="section-title-two">
                    <div class="row align-items-center">
                        <div class="col-lg-7">
                            <div class="title">
                                <h2>با سلیکان کسب‌وکار خود را به سطح جدیدی ارتقا دهید</h2>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="text">
                                <p>چرا سلیکان جایگزین بسیار عالی برای روش‌ها و نرم افزارهای سنتی مدیریت ارتباط با مشتریان است.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="features-content">
                            <div class="image">
                                <img src="{% static 'statichome/assets/img/icons/sales.png' %}" alt="image">
                            </div>
                            <h3>امکانات و ویژگی‌های نامحدود</h3>
                            <p>به دلیل ساختار مبتنی بر CLOUD در نرم افزار سلیکان امکان اضافه کردن امکانات بسیار زیادی مهیا شده است.</p>
                        </div>

                        <div class="features-content">
                            <div class="image">
                                <img src="{% static 'statichome/assets/img/icons/calculator.png' %}" alt="image">
                            </div>
                            <h3>هزینه بسیار پایین</h3>
                            <p>هزینه استفاده از نرم افزار سلیکان بیشتر از ۷۰ درصد از هزینه استفاده از نرم‌افزارهای مشابه می‌باشد. همینطور بابت بروز رسانی و پشتیبانیم نرم افزار هزینه ای دریافت نمی‌شود.</p>
                        </div>

                        <div class="features-content">
                            <div class="image">
                                <img src="{% static 'statichome/assets/img/icons/team.png' %}" alt="image">
                            </div>
                            <h3>پشتیبانی عالی و اختصاصی</h3>
                            <p>سلیکان برای هر یک از مشتریان خود یک مشاور و پشتیبان اختصاصی قرار داده است تا بدون هزینه در کمترین زمان پاسخ‌گوی مشتریان خود باشد.</p>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="features-image">
                            <img src="{% static 'statichome/assets/img/features.png' %}" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Features Area -->

        <!-- Start Platform Area -->
        <section class="platform-area ptb-100">
            <div class="container-fluid">
                <div class="section-title">
                    <span>پلتفرم سلیکان</span>
                    <h2>ویژگی‌های خارق‌العاده سلیکان</h2>
                    <p>تمام مراحل فرایند تبدیل مشتریان بالقوه به خریداران نهایی را با سلیکان به راحتی انجام دهید. فروش یک فرایند سیستماتیک است.</p>
                </div>

                <div class="tab platform-list-tab">
                    <div class="row align-items-center">
                        <div class="col-lg-3">
                            <ul class="tabs">
                                <li>
                                    <a href="#" class="bg-f12711">
                                        <i class='bx bx-left-arrow-alt'></i>
                                        مدیریت فرایند فروش
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="bg-0067ff">
                                        <i class='bx bx-left-arrow-alt'></i>
                                        مدیریت سرنخ‌های فروش
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="bg-1b2b37">
                                        <i class='bx bx-left-arrow-alt'></i>
                                        صدور فاکتور و پیش‌فاکتور
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="bg-f12711">
                                        <i class='bx bx-left-arrow-alt'></i>
                                        اتوماسیون واحد فروش و بازرگانی
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="bg-0067ff">
                                        <i class='bx bx-left-arrow-alt'></i>
                                        گزارش‌های جامع و اختصاصی
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-lg-9">
                            <div class="tab_content">
                                <div class="tabs_item">
                                    <div class="row align-items-center">
                                        <div class="col-lg-6">
                                            <div class="platform-image">
                                                <img src="{% static 'statichome/assets/img/platform/image1.jpg' %}" alt="image">
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="platform-content">
                                                <h2>مدیریت فرایند فروش</h2>

                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="platform-text bar">
                                                            <div class="image">
                                                                <img src="{% static 'statichome/assets/img/icons/file.png' %}" alt="image">
                                                            </div>
                                                            <h3>فرایند فروش اختصاصی</h3>
                                                            <p>امکان تعریف فرایند فروش اختصاصی با توجه به صنعت و کسب‌وکار شما وجود دارد.</p>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-6">
                                                        <div class="platform-text">
                                                            <div class="image">
                                                                <img src="{% static 'statichome/assets/img/icons/builder.png' %}" alt="image">
                                                            </div>
                                                            <h3>ثبت بینهایت معامله</h3>
                                                            <p>شما می‌توانید به تعداد نامحدود معامله جدید در سلیکان تعریف کنید.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tabs_item">
                                    <div class="row align-items-center">
                                        <div class="col-lg-6">
                                            <div class="platform-image">
                                                <img src="{% static 'statichome/assets/img/platform/image2.jpg' %}" alt="image">
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="platform-content">
                                                <h2>مدیریت سرنخ‌های فروش</h2>

                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="platform-text bar">
                                                            <div class="image">
                                                                <img src="{% static 'statichome/assets/img/icons/file.png' %}" alt="image">
                                                            </div>
                                                            <h3>فرایند تبدیل سرنخ به مشتری</h3>
                                                            <p>به صورت اختصاصی فرایند‌های تبدیل سرنخ‌هایتان به مشتری جدید را تعریف کنید</p>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-6">
                                                        <div class="platform-text">
                                                            <div class="image">
                                                                <img src="{% static 'statichome/assets/img/icons/builder.png' %}" alt="image">
                                                            </div>
                                                            <h3>فرم اختصاصی اتصال سرنخ‌های فروش از وب‌سایت شما</h3>
                                                            <p>شما می‌توانید فرم اختصاصی iframe را مختص وب‌سایتتان ایجاد کنید.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tabs_item">
                                    <div class="row align-items-center">
                                        <div class="col-lg-6">
                                            <div class="platform-image">
                                                <img src="{% static 'statichome/assets/img/platform/image3.jpg' %}" alt="image">
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="platform-content">
                                                <h2>ایجاد فاکتور و پیش‌فاکتور</h2>

                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="platform-text bar">
                                                            <div class="image">
                                                                <img src="{% static 'statichome/assets/img/icons/file.png' %}" alt="image">
                                                            </div>
                                                            <h3>ایجاد فاکتور و پیشفاکتور نامحدود</h3>
                                                            <p>شما دسترسی به ایجاد تعداد نامحدود فاکتور و پیش‌فاکتور برای معاملاتتان دارید.</p>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-6">
                                                        <div class="platform-text">
                                                            <div class="image">
                                                                <img src="{% static 'statichome/assets/img/icons/builder.png' %}" alt="image">
                                                            </div>
                                                            <h3> ایجاد فاکتور به صورت اتوماتیک</h3>
                                                            <p>سلیکان برای هر معامله فاکتور‌ها را به صورت اتوماتیک ایجاد می‌کند</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tabs_item">
                                    <div class="row align-items-center">
                                        <div class="col-lg-6">
                                            <div class="platform-image">
                                                <img src="{% static 'statichome/assets/img/platform/image4.jpg' %}" alt="image">
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="platform-content">
                                                <h2>اتوماسیون واحد فروش و بازرگانی</h2>

                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="platform-text bar">
                                                            <div class="image">
                                                                <img src="{% static 'statichome/assets/img/icons/file.png' %}" alt="image">
                                                            </div>
                                                            <h3> ایجاد وظایف و کارهای جدید</h3>
                                                            <p>شما در سلیکان به راحتی م‌توانید برای هر فرد از اعضای تیم وظایف جدید تعریف کنید.</p>

                                                        </div>
                                                    </div>

                                                    <div class="col-lg-6">
                                                        <div class="platform-text">
                                                            <div class="image">
                                                                <img src="{% static 'statichome/assets/img/icons/builder.png' %}" alt="image">
                                                            </div>
                                                            <h3>ایجاد تیم‌های بازرگانی و فروش </h3>
                                                            <p>با ایجاد تیم‌ها می‌توانید فرایندهای فروش هر محصول و یا نمایندگی خود را به صورت یکپارچه در سلیکان داشته باشید.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tabs_item">
                                    <div class="row align-items-center">
                                        <div class="col-lg-6">
                                            <div class="platform-image">
                                                <img src="{% static 'statichome/assets/img/platform/image5.jpg' %}" alt="image">
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="platform-content">
                                                <h2> گزارش های اختصاصی</h2>

                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="platform-text bar">
                                                            <div class="image">
                                                                <img src="{% static 'statichome/assets/img/icons/file.png' %}" alt="image">
                                                            </div>
                                                            <h3>گزارش‌های لحظه‌ای و مدت‌دار</h3>
                                                            <p>با استفاده از سیستم گزارش‌گیری سلیکان به راحتی به تمام گزارشات به صورت لحظه‌ای و یا انتخاب بازه زمانی دسترسی دارید.</p>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-6">
                                                        <div class="platform-text">
                                                            <div class="image">
                                                                <img src="{% static 'statichome/assets/img/icons/builder.png' %}" alt="image">
                                                            </div>
                                                            <h3>دسترسی به نرخ‌های تبدیل</h3>
                                                            <p>با سیستم گزارشات و متریک‌‌های سلیکان به راحتی می‌توانید اهداف فروش و بازاریابی شرکت‌ خودتان را تعریف و آنها را کنترل کنید.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Platform Area -->

        <!-- Start Accompany Area -->
        <section class="accompany-area ptb-100">
            <div class="container">
                <div class="section-title">
                    <span>سلیکان</span>
                    <h2>مناسب برای انواع صنایع و کسب‌وکارها</h2>
                    <p>امکانات و ویژگی‌های سلیکان استفاده از آن را برای هر کسب‌وکار در هر حوزه‌ای ساده کرده است. </p>
                </div>

                <div class="tab accompany-list-tab">
                    <ul class="tabs">
                        <li>
                            <a href="#">
                                <img src="{% static 'statichome/assets/img/icons/lamp.png' %}" alt="image">
                                <span>استارتاپ</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static 'statichome/assets/img/icons/microscope.png' %}" alt="image">
                                <span>دانش‌بنیان</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static 'statichome/assets/img/icons/modern-house.png' %}" alt="image">
                                <span>خدمات</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static 'statichome/assets/img/icons/analysis.png' %}" alt="image">
                                <span>بیمه و مالی</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static 'statichome/assets/img/icons/protect.png' %}" alt="image">
                                <span>واردات و صادرات</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static 'statichome/assets/img/icons/research.png' %}" alt="image">
                                <span>تولید و پخش</span>
                            </a>
                        </li>
                    </ul>

                    <div class="tab_content">
                        <div class="tabs_item">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="accompany-image">
                                        <img src="{% static 'statichome/assets/img/accompany/image1.jpg' %}" alt="image">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="accompany-content">
                                        <h2>استارتاپ</h2>
                                        <p>استارتاپ‌ها در طی اولین مراحل کاری خود به شدت به یک فرایند سیستماتیک برای جذب اولین مشتریان خود نیازمندند.</p>

                                        <ul class="list">
                                            <li>
                                                <i class='bx bx-chevrons-left'></i>
                                                تعریف ۱۰۰ مشتری اول برای استارتاپ
                                            </li>
                                            <li>
                                                <i class='bx bx-chevrons-left'></i>
                                                ایجاد قیف بازاریابی و فروش
                                            </li>
                                            <li>
                                                <i class='bx bx-chevrons-left'></i>
                                                تعریف متریک‌های فروش و بازاریابی
                                            </li>
                                            <li>
                                                <i class='bx bx-chevrons-left'></i>
                                                یکپارچگی فرایند‌های فروش
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tabs_item">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="accompany-image">
                                        <img src="{% static 'statichome/assets/img/accompany/image2.jpg' %}" alt="image">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="accompany-content">
                                        <h2>دانش‌بنیان</h2>
                                        <p>شرکت‌های دانش‌بنیان به دلیل ساختار تکنولوژیک خود و فرایند‌های طولانی فروش بیش از هر کسب‌وکاری به سیستم مدیریت فروش نیازمندند.</p>

                                        <ul class="list">
                                            <li>
                                                <i class='bx bx-chevrons-left'></i>
                                                تعریف مشتریان
                                            </li>
                                            <li>
                                                <i class='bx bx-chevrons-left'></i>
                                                ایجاد فرایند فروش اختصاصی
                                            </li>
                                            <li>
                                                <i class='bx bx-chevrons-left'></i>
                                                دریافت گزارشات فروش
                                            </li>
                                            <li>
                                                <i class='bx bx-chevrons-left'></i>
                                                مشاوره فروش اختصاصی
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tabs_item">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="accompany-image">
                                        <img src="{% static 'statichome/assets/img/accompany/image3.jpg' %}" alt="image">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="accompany-content">
                                        <h2>خدمات</h2>
                                        <p>هر نوع کسب‌وکار خدمات چه شرکت‌های بزرگ و چه صفحات اینستاگرام می‌توانند از سلیکان استفاده کنند.</p>

                                        <ul class="list">
                                            <li>
                                                <i class='bx bx-chevrons-left'></i>
                                                کسب‌وکارهای خدمات کسب‌وکار 
                                            </li>
                                            <li>
                                                <i class='bx bx-chevrons-left'></i>
                                                آژانس‌های تبلیغاتی
                                            </li>
                                            <li>
                                                <i class='bx bx-chevrons-left'></i>
                                                کسب‌وکارهای اینستاگرامی و تلگرامی
                                            </li>
                                            <li>
                                                <i class='bx bx-chevrons-left'></i>
                                                پزشکان و حوزه سلامت
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tabs_item">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="accompany-image">
                                        <img src="{% static 'statichome/assets/img/accompany/image4.jpg' %}" alt="image">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="accompany-content">
                                        <h2>بیمه و مالی</h2>
                                        <p>شرکت های مالی و حسابداری به دلیل تعدد مشتریان خودشان نیازمند یک سیستم جامع برای مدیریت مشتریان خود هستند. </p>

                                        <ul class="list">
                                            <li>
                                                <i class='bx bx-chevrons-left'></i>
                                                 شرکت‌های حسابداری و حسابرسی
                                            </li>
                                            <li>
                                                <i class='bx bx-chevrons-left'></i>
                                                شرکت‌های بیمه‌‌ای
                                            </li>
                                            <li>
                                                <i class='bx bx-chevrons-left'></i>
                                                شرکت‌های مالی و خدمات بورسی
                                            </li>
                                            <li>
                                                <i class='bx bx-chevrons-left'></i>
                                                شرکت‌های کاریابی
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tabs_item">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="accompany-image">
                                        <img src="{% static 'statichome/assets/img/accompany/image5.jpg' %}" alt="image">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="accompany-content">
                                        <h2>واردات و صادرات</h2>
                                        <p>با توجه به امکان تعریف واحدهای پولی و همینطور کشور‌های مختلف شرکت های وادرات و صادرات نیز می‌توانند از سلیکان استفاده کنند.</p>

                                        <ul class="list">
                                            <li>
                                                <i class='bx bx-chevrons-left'></i>
                                                شرکت های وادراتی
                                            </li>
                                            <li>
                                                <i class='bx bx-chevrons-left'></i>
                                                شرکت های صادراتی
                                            </li>
                                            <li>
                                                <i class='bx bx-chevrons-left'></i>
                                                صرافی‌ها
                                            </li>
                                            <li>
                                                <i class='bx bx-chevrons-left'></i>
                                                شرکت‌های خدمات ضمانت صادرات و واردات
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tabs_item">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="accompany-image">
                                        <img src="{% static 'statichome/assets/img/accompany/image6.jpg' %}" alt="image">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="accompany-content">
                                        <h2>تولیدی و پخش</h2>
                                        <p>کارخانه‌جات و شرکت‌های تولیدی و پخش به واسطه حجم فروش بالا و تعداد فروش بالا نیازمند دارابودن یک سیستم جامع از مشتریان خود هستند.</p>

                                        <ul class="list">
                                            <li>
                                                <i class='bx bx-chevrons-left'></i>
                                                کارخانه‌جات تولیدی
                                            </li>
                                            <li>
                                                <i class='bx bx-chevrons-left'></i>
                                                شرکت‌های پخش عمده
                                            </li>
                                            <li>
                                                <i class='bx bx-chevrons-left'></i>
                                                شرکت های حمل و نقل و ترانزیت
                                            </li>
                                            <li>
                                                <i class='bx bx-chevrons-left'></i>
                                                بنکداری و فروشگاه‌های عمده و خرده فروشی
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Accompany Area -->
        
        <!-- Start Join Area -->
        <section class="join-area pt-100">
            <div class="container">
                <div class="join-content">
                    <img src="{% static 'statichome/assets/img/logo2.png' %}" alt="image">
                    <h2>به خانواده بزرگ استفاده‌کنندگان از سلیکان بپویندید و همین الان استارتاپ رشد کسب‌وکارتان را بزنید</h2>

                    <div class="join-btn">
                        <a href="{% url 'register' %}" class="btn-one">
                            ثبت نام رایگان
                            <i class='bx bx-left-arrow-alt'></i>
                        </a>
                        <a href="#" class="btn-two">
                            مشاهده همه امکانات
                            <i class='bx bx-left-arrow-alt'></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Join Area -->

        <!-- Start Partner Area -->
        <div class="partner-area">
            <div class="container-fluid">
                <div class="partner-slider owl-carousel owl-theme">
                    <div class="partner-item">
                        <a href="#" target="_blank"><img src="{% static 'statichome/assets/img/partner/1.png' %}" alt="image"></a>
                        <a href="#" target="_blank"><img src="{% static 'statichome/assets/img/partner/1.png' %}" alt="image"></a>
                    </div>

                    <div class="partner-item">
                        <a href="#" target="_blank"><img src="{% static 'statichome/assets/img/partner/2.png' %}" alt="image"></a>
                        <a href="#" target="_blank"><img src="{% static 'statichome/assets/img/partner/2.png' %}" alt="image"></a>
                    </div>

                    <div class="partner-item">
                        <a href="#" target="_blank"><img src="{% static 'statichome/assets/img/partner/3.png' %}" alt="image"></a>
                        <a href="#" target="_blank"><img src="{% static 'statichome/assets/img/partner/3.png' %}" alt="image"></a>
                    </div>

                    <div class="partner-item">
                        <a href="#" target="_blank"><img src="{% static 'statichome/assets/img/partner/4.png' %}" alt="image"></a>
                        <a href="#" target="_blank"><img src="{% static 'statichome/assets/img/partner/4.png' %}" alt="image"></a>
                    </div>

                    <div class="partner-item">
                        <a href="#" target="_blank"><img src="{% static 'statichome/assets/img/partner/5.png' %}" alt="image"></a>
                        <a href="#" target="_blank"><img src="{% static 'statichome/assets/img/partner/5.png' %}" alt="image"></a>
                    </div>

                    <div class="partner-item">
                        <a href="#" target="_blank"><img src="{% static 'statichome/assets/img/partner/6.png' %}" alt="image"></a>
                        <a href="#" target="_blank"><img src="{% static 'statichome/assets/img/partner/6.png' %}" alt="image"></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Partner Area -->

{% endblock %}
