{% extends 'registration/base.html' %}
{% load static %}
{% block main %}
{% load jalali_tags %}

<div class="row">
    <div class="col-md-12">
        <div class="card mr-1 ml-1 mt-3">

      <div class="box box-solid">
        <div class="box-header with-border">
            <div class="col-12">
          <h3 class="box-title mr-1 ml-1 mt-3">اطلاعات کلاس</h3>
          <hr>
        </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body mr-1 ml-1 mt-3">
            <div class="row mr-1 ml-1 mt-3">

            <div class="col-3">
                <p> نام شرکت: <strong>{{company.name}}</strong></p>
            </div>

            <div class="col-3">
                <p>محدودیت تعداد کارمندان: <strong>{{company.user_limit}}</strong></p>
            </div>

            <div class="col-3">
                <p> ایمیل شرکت: <strong>{{company.email}}</strong></p>
            </div>
            <div class="col-3">
                <p> تاریخ اعتبار حساب شرکت: <strong>{{company.access_date | to_jalali:'۱۴%y/%m/%d'}}</strong></p>
            </div>


        </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
</div>
    <div class="col-md-12">
      <div class="card">
          <div class="card-body">
              <div class="row">
                  <div class="col-12">
                  <a class="btn btn-success" href="{% url 'common:dashboard' company.slug %}">ورود به داشبورد شرکت</a>
                  <a class="btn btn-warning" href="{% url 'payment:billing-create' company.slug %}"> افزایش اعتبار</a>
                  <a class="btn btn-primary" href="{% url 'common:company-update' company.slug  %}">تکمیل مشخصات شرکت</a>

              </div>
          </div>
          
    
        </div>
      </div>
    </div>
  {% endblock %}