{% extends 'company/company-settings-base.html' %}



{% block main %}
        <div class="row">
          <div class="col-12">
            <div class="card">

              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <div class="card-header d-flex justify-content-between align-items-center pb-1">
                  <a class="btn btn-info" href="{% url 'common:product-create' company.slug  %}">ایجاد محصول جدید</a>
                </div>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>نام محصول</th>
                      <th>کد محصول</th>
                      <th>واحد اندازه‌گیری</th>
                      <th>قیمت واحد</th>
                      <th>عملیات</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for product in object_list %}
                      <tr>
                        <td><a href="{% url 'common:product-update' company.slug product.pk %}">{{product.name}}</a></td>
                        <td>{{product.code}}</td>
                        <td>{{product.unit}}</td>
                        <td>{{product.price}}</td>
                        <td>
                            
                            <a class="badge badge-warning" href="{% url 'common:product-update' company.slug product.pk %}">ویرایش</a>
                            <a class="badge badge-danger" href="{% url 'common:product-delete' company.slug product.pk %}">حذف</a>
                          
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
{% endblock %}
