{% extends 'registration/base.html' %}

{% block main %}
        <div class="row">
          <div class="col-12">
            <div class="card">

              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>شماره فاکتور</th>
                      <th>تاریخ فاکتور</th>
                      <th>وضعیت</th>
                      <th>مبلغ</th>
                      <th>عملیات</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for billings in object_list %}
                      <tr>
                        <td>{{billings.invoice_number}}</td>
                        <td>{{billings.staff.jinvoice_date}}</td>
                        <td>{% if billings.status == 'PAID'%}
                          <span class="badge badge-success">پرداخت شده</span>
                        {% elif billings.status == 'NOT_PAID' %}
                          <span class="badge badge-danger">پرداخت نشده</span>
                        {% else %}
                          <span class="badge badge-warning">در حال پرداخت</span>
                        {% endif %} </td>
                        <td>{{billings.amount}}</td>
                        <td>
                            <a class="badge" href="{% url 'payment:billing-detail' company.slug billings.pk %}">مشاهده</a>

                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
{% endblock %}
