{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}
{% block main %}
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title">
              <i class="fas fa-edit"></i>
              {% block title %}{{classworks_post.Name}}{% endblock %}
            </h3>
          </div>
            <nav class="navbar navbar-expand navbar-primary navbar-dark">
              <!-- Left navbar links -->
              <ul class="navbar-nav">
                <li class="nav-item d-none d-sm-inline-block">
                  <a href="../../index3.html" class="nav-link">داشبورد کلاس</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                  <a href="{% url 'account:comment'  classworks_post.slug  %}" class="nav-link">گفتگو‌ها</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                  <a href="{% url 'account:classwork' classworks_post.slug %}" class="nav-link">تکالیف</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                  <a href="#" class="nav-link">سرفصل‌ها</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                  <a href="{% url 'account:student' classworks_post.slug %}" class="nav-link">دانش‌آموزان</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                  <a href="{% url 'account:teachers' classworks_post.slug %}" class="nav-link">اساتید</a>
                </li>
              </ul>
            </nav>
          </div>
          <!-- /.card -->
<div class="card">
<div class="col-md-12 ">
  <div class="card-body">
    <!-- comments -->
    <p>  تعداد تکالیف: {{ class_works.count }}</p>
</div>
    {% for classworks_post in class_works %}
    <div class="card">
    <div class="comments" style="padding: 10px;">
      <p class="font-weight-bold">نام استاد: {{ classworks_post.creator.get_full_name }}</p>
      <p class="font-weight-bold">نام مبحث: {{ classworks_post.classworks_name }}</p>
        <span class=" text-muted font-weight-normal">تاریخ ایجاد: {{ classworks_post.classworks_jcreated_on }}</span>
      <p>{{ classworks_post.classworks_body | safe }}</p>
    </div>
    </div>
    {% endfor %}
  </div>
</div>
{% if request.user|has_group:"teachers" %}
<div class="col-md-12 ">
  <div class="card-body">

    {% if new_classworks %}
    <div class="alert alert-success" role="alert">
        تکلیف جدید در قسمت تکالیف وارد شد
    </div>
    {% else %}
    <h6>تکلیف جدید قرار دهید:</h6>
    <form method="post" style="margin-top: 1.3em;">
      {{ classworks_form| crispy }}
      {% csrf_token %}
      <button type="submit" class="btn btn-primary  btn-sm">ارسال</button>
    </form>
    {% endif %}

  </div>
</div>
{% endif %}
</div>
</div>
</div>

</section>




{% endblock %}
