{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}
{% block main %}


<!-- Table head options start -->
<div class="row" id="table-head">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">افزودن کاربر جدید به شرکت</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
        </div>
        <!-- table head dark -->
        <div class="table-responsive">
          <table class="table mb-0">
            <thead class="thead-dark">
              <tr>
                <th>نام کاربر</th>
                <th>نام کاربری</th>
                <th>ایمیل</th>
                <th>تاریح عضویت</th>
              </tr>
            </thead>
            <tbody>
              {% for person in companystaff %}
              <tr>
                <td class="text-bold-500">{{ person.staff.get_full_name }}</td>
                <td>{{ person.staff.username }}</td>
                <td class="text-bold-500">{{ person.staff.email }}</td>
                <td class="text-bold-500">{{ person.jdate }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Table head options end -->

{% if request.user.is_superuser %}
<!-- // Basic multiple Column Form section start -->
<section id="multiple-column-form">
  <div class="row match-height">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">افزودن کاربر جدید به شرکت</h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            {% if new_staff %}
            
            <div class="alert alert-success" role="alert">
              کاربر انتخاب شده به عنوان کارمند جدید به شرکت اضافه شد.
            </div>
            {% else %}
            <form class="form">
              <div class="form-body">
                <div class="row">
                  <div class=" col-12">
                    <div class="form-label-group">
                      {{enroll_form.staff|as_crispy_field}}
                        <label for="first-name-column">نام کاربر</label>
                    </div>
                  </div>
                  <div class="col-12 d-flex justify-content-end">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary mr-1 mb-1">ثبت</button>
                    <button type="reset" class="btn btn-light-secondary mr-1 mb-1">بازنشانی</button>
                    {% endif %}
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- // Basic multiple Column Form section end -->
{% endif%}



{% endblock %}
