{% extends 'registration/base.html' %}

{% block title %}داشبورد اصلی{% endblock %}


{% block main %}
        <div class="row">
          <div class="col-12">
            <div class="card">

              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>نام شرکت</th>
                      <th>تعداد کارمندان</th>
                      <th>تاریخ ایجاد شرکت</th>
                      <th>ایجاد کننده شرکت</th>
                      <th>عملیات</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for CompaniesList in object_list %}
                      <tr>
                        <td><a href="#">{{CompaniesList.name}}</a></td>
                        <td>{{CompaniesList.staff.count}}</td>
                        <td>{{CompaniesList.jcreated_time}}</td>
                        <td>{{CompaniesList.creator.get_full_name}}</td>
                        <td>
                            {% if user.is_superuser %}
                            <a class="badge" href="{% url 'common:company-update' CompaniesList.slug %}">ویرایش</a>
                            <a class="badge" href="{% url 'common:company-delete' CompaniesList.slug %}">حذف</a>
                            {% endif %}
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
{% endblock %}
