{% load static %}

<!-- BEGIN: Main Menu-->
    <div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="navbar-header">
          <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto"><a class="navbar-brand" href="{% url 'common:home' %}">
                <div class="brand-logo"><img class="logo" src="{% static 'frest/assets/images/logo/png-150-selikan.png' %}"></div>
                <h2 class="brand-text mb-0">سلیکان</h2></a></li>
            <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="bx bx-x d-block d-xl-none font-medium-4 primary"></i><i class="toggle-icon bx bx-disc font-medium-4 d-none d-xl-block primary" data-ticon="bx-disc"></i></a></li>
          </ul>
        </div>
        <div class="shadow-bottom"></div>
        <div class="main-menu-content">
          <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
            <li class="nav-item"><a href="{% url 'common:home' %}"><i class="menu-livicon" data-icon="home"></i><span class="menu-title" data-i18n="Analytics">پنل مدیریت</span></a>
            </li>
            <li class="nav-item"><a href="{% url 'common:company-create' %}"><i class="menu-livicon" data-icon="desktop"></i><span class="menu-title" data-i18n="Analytics">ایجاد شرکت جدید</span></a>
            </li>

            <li class="nav-item"><a href="{% url 'common:profile' %}"><i class="menu-livicon" data-icon="user"></i><span class="menu-title" data-i18n="Analytics">پروفایل کاربری کاربر</span></a>
            </li>
            <li class="nav-item"><a href="{% url 'logout' %}"><i class="menu-livicon" data-icon="morph-login"></i><span class="menu-title" data-i18n="Analytics">خروج</span></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- END: Main Menu-->