{% extends 'company/base.html' %}

{% load humanize %}

{% block main %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'common:home' %}"><i class="bx bx-home"></i></a></li>
    <li class="breadcrumb-item"><a href="{% url 'common:dashboard' company.slug %}">{{company.name}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">فرصت‌ها</li>
  </ol>
</nav>
        <div class="row">
          <div class="col-12">
            <div class="card">

              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <div class="card-header d-flex justify-content-between align-items-center pb-1">
                  <a class="btn btn-info" href="{% url 'opportunity:opportunity-create' company.slug  %}">ایجاد فرصت جدید</a>
                  <div class="col-md-6 col-12 text-md-right">
                    <a type="button" class="btn  btn-warning glow mt-md-2 mb-1" href="{% url 'opportunity:opportunitystatus' company.slug %}"><i class="bx bx-cog"></i> تنظیمات مراحل فرصت‌ها</a>
                    <a type="button" class="btn  btn-warning glow mt-md-2 mb-1" href="{% url 'opportunity:opportunitysource' company.slug %}"><i class="bx bx-cog"></i> تنظیمات منابع فرصت‌ها</a>
                  </div>
                </div>
                </div>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>عنوان فرصت</th>
                      <th>وضعیت فرصت</th>
                      <th>مشتری</th>
                      <th>مقدار</th>
                      <th>احتمال موفقیت</th>
                      <th>عملیات</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for opportunity in object_list %}
                      <tr>
                        <td><a href="{% url 'opportunity:opportunity-update' company.slug opportunity.pk %}">{{opportunity.name}}</a></td>
                        {% if opportunity.opportunity_status.won %}
                        <td><a class="badge badge-success" style="color:white">{{opportunity.status}}</a></td>
                        {% elif opportunity.opportunity_status.lost %}
                        <td><a class="badge badge-danger" style="color:white">{{opportunity.status}}</a></td>
                        {% else %}
                        <td><a class="badge badge-primary" style="color:white" >{{opportunity.status}}</a></td>
                        {% endif %}
                        <td>{{opportunity.account}}</td>
                        <td>{{opportunity.amount|intcomma:False}}</td>
                        <td>{{opportunity.probability}}</td>
                        <td>
                            {% if user.is_superuser %}
                            <a class="badge" href="{% url 'opportunity:opportunity-update' company.slug opportunity.pk %}">ویرایش</a>
                            <a class="badge" href="{% url 'opportunity:opportunity-delete' company.slug opportunity.pk %}">حذف</a>
                            {% endif %}
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
{% endblock %}
