{% extends 'company/company-settings-base.html' %}
{% load crispy_forms_tags %}
{% block title %}
ایجاد محصول جدید{% endblock %}


{% block main %}
<form method="post" enctype="multipart/form-data"> {% csrf_token %}
  <div class="row">
    <div class="col-12">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title mb-0 float-left">افزودن و ویرایش منابع‌ فرصت‌ها</h3>
        </div>
          <div class="card-body">
      {{form|crispy}}
    </div>
  </div>
  </div>
  </div>
      <button class="btn btn-success">ذخیره</button>
    </form>
{% endblock %}