{% extends 'classroom/base.html' %}
{% load static%}

{% block title %}

  {% endblock %}

{% block main %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('{% static 'classroom/img/home-bg.jpg' %}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>لیست کلاس‌های شما</h1>

        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
    {% for Classdetails in Class %}
    <div class="post-preview">
     <a href="{% url 'classrooms:class_details' Classdetails.slug %}">
        <h2 class="post-title">
          {{Classdetails.Name}}
        </h2>
      </a>
      <p class="post-meta">تاریخ ایجاد کلاس:

      {{Classdetails.jcreated_time}}</p>
    </div>
    <hr>

    {% endfor %}

      <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
